.right {
  float: right;  
  clear: right;
}

.sidebar {
  width: 40%;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: smaller;
}

.sidebar a {
  text-decoration: none;
}

.sidebar h3 {
  margin-bottom: 0.3em
}

figure.video div.wrapper {
   padding-bottom: 1em !important;
}

figure {
  max-width: 100%;
}

div.gallery li figure {
  height: unset !important;
}

div.gallery li figure div.image {
    background-color: transparent !important;
    height: 270;
    background-size: contain;
    background-repeat: no-repeat;
}

figcaption {
  margin-top: 1em;
  margin-left: 1em;
  font-size: smaller;
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

div.gallery ul {
  padding-inline-start: 0;
}

div.gallery li {
  display: block;
}
